@charset "UTF-8";
/* CSS Document */
.cf:after {
  content: "";
  clear: both;
  display: block;
}
img{
	vertical-align: bottom;
	max-width: 100%;
	height: auto;
}
body{
	font-size: 17.6px;;
	color: #000;
    overflow-wrap: break-word;
    word-break: normal;
	font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue",'Noto Sans JP',"Hiragino Kaku Gothic ProN",YuGothic,"Yu Gothic",Verdana,Meiryo,sans-serif;
	background: #fff;
	line-height: 1.8;
    font-feature-settings: "palt";
    letter-spacing: 0.05em;
}
.space{
	padding: 5%;
}

#top_main{
	position: relative;
}
#sdgs_logo{
	position: absolute;
	top: 3%;
	left: 3%;
	width: 10%;
}
#top_logo{
	position: absolute;
	top: 3%;
	right: 3%;
	width: 30%;
}
#intro{
	text-align: center;
	margin: 0 auto;
}
#intro p{
	padding-top: 10%;
}
#intro span{
	background: linear-gradient(transparent 70%, #F3F30D 0%)
}
#and_you{
	padding-top: 10%;
	width: 50%;
	margin: 0 auto;
}
.tomoni{
	color: #009CDB;
	font-size: 150%;
	padding-top: 10%;
}
.un_women{
	padding-top: 10%;
	width: 50%;
    margin: 0 auto;
}
.red_circle:after{
	content: "";
	display: inline-block;
	height: 10px;
	width: 10px;
	background-color: #E83819;
	border-radius: 5px;
}
#second_part{
	padding-top: 20%;
}
#second_part h2{
	text-align: center;
}
.box {
    position: relative;
    padding: 1rem;
    border-radius: 10px;
    /* border: 1px solid #E83819; */
    background-color: #CAE8F5;
    color: #333;
    font-weight: bold;
    font-size: 18px;
}

.box:before {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 3px solid #E83819;
    content: "";
}

.box:after {
    position: absolute;
    bottom: -31px;
    left: 50px;
    transform: skew(-25deg);
    height: 25px;
    width: 15px;
    /* border-right: 3px solid #E83819;
    background-color: #fff; */
    content: "";
}
.pic-container span{
	color: #009CDB;
}
#kifu{
	padding-top: 10%;
}
#kifu h3{
	padding-top: 5%;
	font-size: 125%;
}
#kifu h4{
	color: #E83819;
}
#kifu h4:nth-of-type(2){
	padding-top: 3%;
}
#kifu ul li{
	background-color: #009CDB;
	padding: 6px;
	text-align: center;
	border-radius: 30px;
	margin-bottom: 5%;
}
#kifu ul li a{
	display: block;
	color: #fff;
	text-decoration: none;
}
.share_part{
	text-align: center;
}
.tell{
	font-weight: bold;
	font-size: 80%;
	padding-bottom: 3%;
}
.share_part ul{
	display: flex;
	justify-content: center;
}
.share_part ul li{
	margin: 0 3%;
	padding: 6px;
}
.share_part ul li.lp_fb{
	background-color: #3E5C99;
}
.share_part ul li.lp_twitter{
	background-color: #2BA2EF;
}
.share_part ul li a{
	display: block;
	color: #fff;
	text-decoration: none;
}
.sticky_note{
	text-align: center;
	border: 1px solid #000;
	margin: 5%;
}
.sticky_note h3{
	color: #E83819;
	font-size: 150%;
}
.video p{
	color: #009CDB;
	text-align: center;
	font-size: 80%;
	padding: 3% 5% 5% 5%;
}
h2.blue_frame{
	color: #fff;
	background-color: #009CDB;
	padding: 6px 22px;
	text-align: center;
	border-radius: 60px;
	margin-bottom: 5%;
	font-size: 120%;
}
#cases h3{
	color: #fff;
	background-color: #1E89BB;
	padding: 6px 22px;
	text-align: center;
	border-radius: 60px;
	margin-bottom: 5%;
	font-size: 100%;
}
#cases ul li:nth-of-type(even){
	margin-bottom: 10%;
}
#cases ul li:nth-of-type(odd){
	margin-bottom: 5%;
}
.box_2 {
    position: relative;
    padding: 1rem;
    border-radius: 10px;
    background-color: #CAE8F5;
    color: #000;
}

.box_2:before {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 3px solid #2BA5DB;
    content: "";
}

.box_2:after {
    position: absolute;
    bottom: -31px;
    left: 50px;
    transform: skew(-25deg);
    height: 25px;
    width: 15px;
    content: "";
}
.join_part{
	text-align: center;
}
.join_part p{
	color: #E83819;
	padding-top: 10%;
	padding-bottom: 3%;
}
.sticky_note h4{
	color: #E83819;
	font-size: 150%;
	line-height: 1.5;
}
#sdgs_mention ul li:first-child{
	width: 50%;
	margin: 0 auto;
	margin-bottom: 10%;
}
.blue_bk{
	background: #0F97D2;
}
.blue_bk p{
	color: #fff;
}
.tomoni_w{
	color: #fff;
	font-size: 150%;
	padding-top: 10%;
	text-align: center;
}
#mission p{
	text-align: center;
	color: #0F97D2;
}
.supplement{
	text-align: center;
	color: #0F97D2;
	font-size: 80%;
	padding: 10% 0;
}
.bg_space{
	padding-bottom: 15%;
}
